#answerBox
{
    display: none;
    width: 200px;
    height: 130px;
    padding: 10px;
}

.pointProblemDiv
{
    border: 1px solid #ddd;
    border-left-style:none;
    border-right-style:none;
    padding:5px 20px;
}

.pointProblemDiv .name{
	font-weight: bold;
	height:30px;
}

.pointProblemDiv .time{
	color:#aaa;
}

.pointProblemDiv .time span{
	color:#0080ff;
	cursor:pointer;
}

.answer{
	border: 1px solid #ddd;
    border-left-style:none;
    border-right-style:none;
    padding:5px 20px;
    margin-left:10px;
}