<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv ="Pragma" content = "no-cache"/>
	<meta http-equiv="Cache-Control" content="no cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
	<link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/tw_epm/assets/plugins/layui/css/layui.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/tw_epm/assets/css/fs.css" media="all"/>
	<script type="text/javascript" src="/tw_epm/assets/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="/tw_epm/assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/tw_epm/assets/plugins/frame/js/fsDict.js?v=1.5.0"></script>
	<script type="text/javascript" src="/tw_epm/assets/plugins/frame/js/fs.js?v=1.5.0"></script>
	<script type="text/javascript" src="/tw_epm/assets/plugins/frame/js/frame.js?v=1.5.0"></script>
</head>
<body>
   <div class="layui-fluid">
  <div class="layui-row layui-col-space1">
  	 <div class="layui-col-md12">
<div class="layui-form-query">
<form class="layui-form" id="query_form">
	<div class="layui-form-item">
		<input type="hidden" name="keys" autocomplete="off" class="layui-input" value=""/>
		<div class="layui-inline">
			<label class="layui-form-mid">人员名称：</label>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" name="name" autocomplete="off" class="layui-input"/>
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline">
				<button class="layui-btn" type="button" function="query"><i class="layui-icon">&#xe615;</i>查询</button>
			</div>
		</div>
	</div>
</form>
</div>
  	 </div>
  	 <div class="layui-col-md12">
  	 	<div class="layui-row grid-demo">
	      <div class="layui-col-md3">
			<button class="layui-btn" function="refresh">
			  <i class="layui-icon">&#x1002;</i>刷新
			</button>
	      </div>
	      <div class="layui-col-md12">
	         <table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" isLoad="1" url="/tw_epm/actions/user_getByNameAndLoginName.action" isPage="1" defaultForm="query_form" height="full-130"></table>

	         <div class="fsDatagridCols">
	         	<p type="numbers" title="#"/>
				<p checkbox="true"/>
			    <p field="userId" title="ID" width="100" sort="true"/>
			    <p field="name" title="名称" width="30%" sort="true" />
			    <p field="type" title="级别" width="150" templet="#typeTpl"/>
			    <p field="tel" title="手机" width="150" />
			    <p field="email" title="email" width="150" />
			    <p field="wechat" title="微信" width="150" />
			    <p field="point" title="积分" width="150" />
			    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="80"/>
			</div>
			<script type="text/html" id="typeTpl">
				{{#
					switch(d.type){
						case 1:}}
		                    项目负责人
		        {{#       break;
		                case 2:}}
		                    总经理
		        {{#        break;
		                default:}}
		                    普通用户
                {{#		break;
					}
				 }}
			</script>
			<script type="text/html" id="barDemo">

				<a class="layui-btn layui-btn-xs {{ d.type == 2 ? 'layui-btn-disabled' : '' }}" {{ d.type == 2 ? '' : 'lay-event="top"' }}l  topUrl="/tw_epm/end/admin/views/user/one.html" topMode="edit" topWidth="400px" topHeight="200px" topTitle="编辑" inputs="ids:$userId">编辑</a>
				
			</script>
	      </div>
	    </div>

  	 </div>

  </div>
</div>
</body>
</html>
