#roleBox {
	width: 300px;
	height: 60px;
	padding: 10px;
	display:none;
}

#proRoleAuthBox{
	width: 500px;
	height: 300px;
	padding: 10px;
	display:none;
}

#userBox {
	width: 300px;
	height: 120px;
	padding: 10px;
	display:none;
}

#userChoseBox {
	width: 1000px;
	height: 500px;
	padding: 10px;
	display:none;
}
#projectChart{
	width:100%;
	height:300px;
}

#pointListForPercentBar{
	width:100%;
	height:10px;
	position:relative;
	z-index:999;
}

.pointForPercentBar{
	width:40px;
	height:30px;
	background:#337ab7;
	text-align:center;
	line-height:30px;
	top: 10px;
	position: absolute;
	border-radius:5px;
	margin-left:-20px;
	color:white;
	cursor: pointer;
}

.pointForPercentBar::before{
	content:"";
	border:10px solid #337ab7;
	width:0;
	height:0;
	top:-20px;
	left:10px;
	position: absolute;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
}

#pointBox{
	width: 800px;
	height: 300px;
	padding: 10px;
	display:none;
}

#learnDocBox{
	width: 500px;
	height: 200px;
	padding: 10px;
	display:none;
}

#specificationBox{
	width: 400px;
	height: 150px;
	padding: 10px;
	display:none;
}