.page_footer {
	height: 20px;
	-moz-user-select: none;
	float: right;
}

.next_page,
.front_page {
	width: 45px;
	height: 20px;
	font-size: 12px;
	float: left;
	border: 1px solid #15bccf;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	display: block;
	color: rgb(38, 154, 201);
}

.front_page {
	margin-right: 5px;
}

.next_page:hover {
	color: white;
	background-color: rgb(21, 188, 207);
}

.normal_page {
	min-width: 18px;
	height: 20px;
	font-size: 12px;
	float: left;
	border: 1px solid #15bccf;
	text-align: center;
	line-height: 20px;
	margin-right: 5px;
	cursor: pointer;
}

.normal_page:hover {
	color: white;
	background-color: rgb(21, 188, 207);
}

.last_page:hover {
	color: white;
	background-color: rgb(21, 188, 207);
}

.front_page:hover {
	color: white;
	background-color: rgb(21, 188, 207);
}

.selected {
	color: white;
	background-color: rgb(100, 189, 217);
}

.noselected {
	color: rgb(38, 154, 201);
	background-color: white;
}

.page_footer div:hover {
	background-color: rgb(21, 188, 207);
}